.search-bar{
    position: absolute;
}
.search-bar ul{
    list-style-type: none;
    position: absolute;
    right: 0;
    left: 0;
    border: 1px solid #cecece;
    border-radius: 5px;
    margin: 0;
    padding: 10px 20px;
    line-height: 30px;
    display: none;
}